<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.0.0" id="BootstrapCalculator">
	<name>ONLINE CALCULATOR</name>
	<author>MOONIKA SANAPATI</author>
	<description>Moonika sanapati-calculator</description>
	<icon src="assets/images/icon.png"/>
	<content src="index.html"/>
</widget>
